.new-collection--container{
    display: flex;
    margin: 0 auto;
    /* border: 1px solid; */
}

.new-collection--image{
    width: 25em;
    height: 25em;
    margin: auto 1em;
    object-fit: cover;
}

.new-collection--form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20em;
    height: 25em;
    /* box-shadow: 0 0px .3em rgba(0, 0, 0, .3); */
    /* border-radius: 4px; */
    margin: auto 0;
}

.new-collection--button{
    color: white;
    background-color: #45bbca;
    border: none;
    box-shadow: 0 .1em .4em rgba(0, 0, 0, .3);
    padding: .7em;
}

.new-collection--file-upload{
    border: 2px solid #dddddd;
    border-radius: 3px;
    width: 100;
    margin-top: .3em;
    padding: .3em .2em .3em 0;
    
}

button{
    cursor: pointer;
}