*{
    margin: 0 0;
    padding: 0 0;
}


.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register--h1{
    font-size: 3em;
    margin-bottom: 3rem;
}

.userData{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.userImage--container{
    display: flex;
    flex-direction: column;
    flex: 1 0 15em;
    justify-content: flex-end;
}

.preview-Img-container{
    align-self: flex-start; 
    margin: 0 auto 1.5em auto;
    text-align: center;
}

.register--icon{
    align-self: flex-start; 
    margin: 0 auto 1.5em auto;
    text-align: center;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 50%;
}

.border{
    box-shadow: 0 2px .4em rgba(0, 0, 0, .3) ;
}

.register--label{
    text-align: center;
}

.register--file-input{
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 18em;
    margin-top: .3em;
    padding: .3em .2em .3em 0;  
}

.register--fake-button{
    color: #37b6c7;
    font-size: smaller;
    background-color: #fdfdfd;
    border: 1px solid #37b6c7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 6.6em;
    padding: .4em;
    position: absolute;
    margin-top: 4px;
    pointer-events:none;
}

.userInfo--container{
    display: grid;
    flex: 1 0 18rem;
    padding: 1em 0 0 0;
}

.user-input, .button{
    border-radius: 3px;
    padding: .7em;
   
}

.user-input {
    font-size: small;
    border: 2px solid #dddddd;  
}

::placeholder { 
    color: #919191;
    opacity: 1; 
  }

