.edit-collection--container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid; */
}

.edit-collection--image{
    width: 25em;
    height: 25em;
    margin-right: 1.5em;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 .3em .5em rgba(0, 0, 0, .4);
}

.edit-collection--form{
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
}

.edit--heading{
    margin-bottom: .5em;
}

.edit-collection--title{
    padding: .6em .5em;
    width: 65%;
    margin-bottom: 1em;
}

.edit-collection--description{
    padding: .4em .8em;
    height: 8em;
    width: 93%;
    margin-bottom: .5em;
}

.edit-collection--button{
    color: rgb(243, 243, 243);
    font-size: medium;
    background-color: #45bbca;
    border: none;
    box-shadow: 0 .1em .3em rgba(34, 179, 198, 0.3);
    border-radius: 3px;
    width: 100%;
    padding: .8em;
}

.edit-collection--delete{
    color: rgb(243, 243, 243);
    font-size: medium;
    background-color: #da0063;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: .8em;
    transition: .25s;
}
.edit-collection--delete:hover{
    text-shadow: 0 0 .1em rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 .4em rgba(255, 0, 0, 0.8);

}